{
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "parser": "babel-eslint",
  "rules": {
    "semi": 2,
    "max-len": [1, 120, 2, { "ignoreComments": true }]
  }
}